<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <img src="../../assets/Weser_Logo-27.svg" alt="logo">
    </div>
    <div class="col-md-5">
      <form #f="ngForm">
        <p>Please insert username and password to Login or Sign in</p>
        <div class="form-group">
          <input class="form-control" type="text" id="user" name="username" placeholder="Username" ngModel>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="pass" name="password" placeholder="Password" ngModel>
        </div>
        <table>
          <tr>
            <th>
              <button id="buttonlogin" type="submit"  (click)="login(f)">Login</button>
            </th>
            <th>
               <button type="submit" (click)="register()">Sign in</button>
            </th>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>